body{
  margin: 0;  
  padding: 0;
}
*{
  box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#0054A4;
    align-items:center;
}
a{
   text-decoration:none;
   color:white;
  font-size:24px;
}
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:30vw;
  justify-self:center;
}
#Profile{
  color:white;
  display:flex;
  width:9vw;
  justify-content:space-around;
  font-size:24px;
}

main > section {
  background-color: white;
  box-shadow: 0px 4px 8px rgb(85, 85, 85);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
main {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  padding: 20px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: 30% 65%; /* Top row smaller than bottom row */
  background-color:#CCDEF6;
  width:1190px;
  align-self:center;
  border-radius: 2rem;
  gap: 1.5rem;
  padding: 1.5rem;
  height: 782px;
}
.card{
  display:flex;
  flex-direction:column;
  background-color: rgb(253, 253, 253);
  border-radius: 24px;
  padding: 1.5rem;
}
  /* width: 100%; */
footer {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  background-color:#0054A4;
  margin-top: 13%;
  
}

figure {
 border: none;
}

li {
  text-decoration: none;
}

#header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#0054A4;
  align-items:center;
  padding-left: 100px;

}